#profileImage {
    width: 120px;
    height: 120px;
}

#dayMessage {
    background: var(--color-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    /* Safari */
    color: transparent;
    font-style: italic;

    background-size: 300% 100%;
    /* Más ancho para que se note más */
    background-repeat: no-repeat;

    animation: backgroundMove 3s ease-in-out infinite;
    /* Más rápida y con easing */
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@media screen and (max-width: 768px) {
    #profileImage {
        width: 80px;
        height: 80px;
    }

    #dayMessage {
        font-size: 1.2rem;
        text-align: center;
    }

}