/* VARIABLES GLOBALES PARA TODO EL SITIO */
@font-face {
    font-family: 'Roboto-Local  ';
    src: url(/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'BebasNeue-Local';
    src: url(/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);

}

@font-face {
    font-family: 'Inter-Local';
    src: url(/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);

}

:root {
    /* BACKGROUNDS */
    --color-bg-primary: #E5E9F2;
    --color-bg-primary-hover: #D1D5DB;

    --color-bg-secondary: #F3F4F6;
    --color-bg-secondary-hover: #E5E7EB;

    --color-bg-card: #FFFFFF;
    --color-success-bg: #BBF7D0;
    --color-error-bg: #FCA5A5;

    /* TEXT */
    --color-text-primary: #1F2937;
    --color-text-secondary: #4B5563;
    --color-success-text: #065F46;

    /* BUTTONS */
    --color-button-bg-primary: #3B82F6;
    --color-button-hover-primary: #2563EB;
    --color-button-bg-secondary: #D1D5DB;
    --color-button-hover-secondary: #B0B7BD;
    --color-button-disabled: #93C5FD;
    --color-button-text: #FFFFFF;

    /* INPUT */
    --color-input-bg: #FFFFFF;
    --color-input-border: #D1D5DB;
    --color-input-focus: #3B82F6;
    --color-input-text: #1F2937;
    --color-input-label: #4B5563;
    --color-input-placeholder: #4B5563;

    /* OTHER */
    --color-border-divider: #D1D5DB;
    --color-success-border: #10B981;
    --logo-image: url(/assets/images/favicon-ligth.webp);
    --color-gradient-primary: linear-gradient(135deg, #1E3C72 0%, #2A5298 100%);

    /* MODAL COLORS - LIGHT MODE */
    --color-modal-bg: #F0F4FF;
    /* fondo principal del modal */
    --color-modal-bg-secondary: #E5E9F2;
    /* por si necesitas otra sección interna */

    --color-modal-hover: #DDE6FB;
    /* hover en zonas interactivas */
    --color-modal-border: #CBD5E1;
    /* borde del modal */
    --color-modal-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    /* sombra envolvente */

    --color-modal-text-primary: #1F2937;
    /* texto principal */
    --color-modal-text-secondary: #4B5563;
    /* texto más tenue */

    --color-modal-button-bg: #3B82F6;
    /* botón principal */
    --color-modal-button-bg-hover: #2563EB;
    /* hover del botón */
    --color-modal-button-text: #FFFFFF;

    --color-modal-close-hover: #F87171;
    /* para un icono de cerrar si lo tienes */
}

/* MODO OSCURO */
[data-theme="dark"] {
    /* BACKGROUNDS */
    --color-bg-primary: #111827;
    --color-bg-primary-hover: #1E293B;

    --color-bg-secondary: #1F2937;
    --color-bg-secondary-hover: #374151;

    --color-bg-card: #1F2430;
    --color-success-bg: rgba(16, 185, 129, 0.1);
    --color-error-bg: rgba(239, 68, 68, 0.1);

    /* TEXT */
    --color-text-primary: #F3F4F6;
    --color-text-secondary: #D1D5DB;
    --color-success-text: #D1FADF;

    /* BUTTONS */
    --color-button-bg-primary: #3B82F6;
    --color-button-hover-primary: #2563EB;
    --color-button-bg-secondary: #526077;
    --color-button-hover-secondary: #4B5563;
    --color-button-disabled: #93C5FD;
    --color-button-text: #F3F4F6;

    /* INPUT */
    --color-input-bg: #1F2430;
    --color-input-border: #374151;
    --color-input-focus: #3B82F6;
    --color-input-text: #F3F4F6;
    --color-input-label: #D1D5DB;
    --color-input-placeholder: #6B7280;

    /* OTHER */
    --color-border-divider: #374151;
    --color-success-border: #10B981;
    --logo-image: url(/assets/images/favicon-dark.webp);
    --color-gradient-primary: linear-gradient(135deg, #8EC5FC 0%, #fcc3c3 100%);

    /* MODAL COLORS - DARK MODE */
    --color-modal-bg: #2A2E39;
    /* fondo principal del modal */
    --color-modal-bg-secondary: #1F2430;
    /* alternativa para secciones internas */

    --color-modal-hover: #374151;
    /* hover en zonas interactivas */
    --color-modal-border: #4B5563;
    /* borde del modal */
    --color-modal-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    /* sombra envolvente */

    --color-modal-text-primary: #F3F4F6;
    --color-modal-text-secondary: #D1D5DB;

    --color-modal-button-bg: #3B82F6;
    --color-modal-button-bg-hover: #2563EB;
    --color-modal-button-text: #F3F4F6;

    --color-modal-close-hover: #EF4444;
}

#app {
    width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: filter, 0.1s ease;
}

#app[data-modalActive="true"] {
    filter: blur(5px);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 100dvh;
    margin: 0;
    padding: 0;

    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: 'Roboto-Local', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    transition: color, background-color, background 0.2s ease-in-out;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;

    background-color: var(--color-bg-card);
    color: var(--color-text-primary);

    border: 3px solid var(--color-border-divider);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin: 25px;
    padding: 1rem 2rem;
}

header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header .left nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

header a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: 600;

    background-color: var(--color-button-bg-secondary);
    color: var(--color-button-text);

    padding: 0.5rem 1rem;
    margin-inline: 15px;

    border-radius: 10px;

    transition: all 0.2s ease;
}

header a:hover {
    background-color: var(--color-button-hover-secondary);
    color: var(--color-button-text-hover);
}

/*REGLAS GENERALES*/
h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: 'BebasNeue-Local', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
    font-family: 'BebasNeue-Local', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-family: 'Inter-Local', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: 'Inter-Local', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

label {
    font-size: 0.875rem;
    color: var(--color-input-label);
}

button,
.btn {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;


    background-color: var(--color-button-bg-primary);
    color: var(--color-button-text);

    padding: 0.5rem 1.5rem;

    border-radius: 5px;
    border: 1px solid var(--color-border-divider);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

button:hover,
.btn:hover {
    background-color: var(--color-button-hover-primary);
    transform: scale(1.01);
}

button.disabled {
    background-color: var(--color-button-disabled);
    cursor: not-allowed;
}

button[type="submit"]:hover {
    background-color: var(--color-success-border);
    color: white;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: 600;

    background-color: var(--color-button-bg-secondary);
    color: var(--color-button-text);

    padding: 0.5rem 1rem;
    margin-inline: 15px;

    border-radius: 10px;

    transition: all 0.2s ease;
}

a:hover {
    background-color: var(--color-button-hover-secondary);
    color: var(--color-button-text-hover);
}

#themeChanger {
    position: fixed;
    top: 1rem;
    right: 1rem;

    background-color: transparent;
    border: none;
    box-shadow: none;

    font-size: 1.3rem;
    text-align: center;

    filter: drop-shadow(0 2px 4px var(--color-border-divider));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: auto;
    margin: 1rem;
    padding: 1rem 2rem;

    background-color: var(--color-bg-card);
    color: var(--color-text-primary);

    border: 1px solid var(--color-border-divider);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--color-border-divider);
    transition: all 0.2s ease-in-out;
}

.logo {
    background-image: var(--logo-image);
    background-size: cover;
    width: 180px;
    height: 180px;
}

#closeSesion:hover {
    background-color: rgb(255, 72, 72);
}

.toggle-show-password {
    margin: 10px;
    padding: 0.5rem;

    width: 35px;
    height: 25px;


    background-color: var(--color-bg-card);
    border-radius: 100%;
    border: var(--color-border-divider) 1px solid;

    text-align: center;

    user-select: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.toggle-show-password:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 4px var(--color-input-border));
}

/* --- ESTILOS GENERALES DE LA VENTANA MODAL --- */
.modalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;
    text-align: center;

    background-color: var(--color-modal-bg);
    border: 4px solid var(--color-modal-border);
    border-radius: 20px;
    animation: modalAppearAnimation-1 0.3s ease forwards;
}

/* --- CONTENEDOR GENERAL PARA BOTONES --- */
.modal-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.modalWindow button {
    margin-top: auto;
}


/* --- ESTILOS ESPECIFICOS PARA VENTANAS MODALES DE FORMULARIO DE DATOS --- */
.dataFormModalWindow input {
    border-radius: 20px;
    width: 250px;
    height: auto;
    padding: 0.3rem;
    font-size: 1rem;
}

.dataFormModalWindow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dataFormModalWindow button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/* --- ANIMACIONES MODALES--- */
@keyframes modalAppearAnimation-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
        scale: 0.8;
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
        scale: 1;
    }
}

/*/ 1400px Screens Rules /*/
@media (max-width: 1401px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    .card {
        width: 40%;
    }

    header {
        width: 70%;
    }
}


/* 425px Moviles Pequeños*/
@media screen and (max-width: 728px) {
    header {
        flex-direction: column;
        width: 70%;
    }

    header .left {
        justify-content: center;

        margin-bottom: 10px;
    }

    header a {
        width: 100px;
        text-align: center;
    }

    .card {
        width: 70%;
        height: auto;
    }


    .logo {
        background-image: var(--logo-image);
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    #themeChanger {
        position: fixed;
        top: 2rem;
        right: 1rem;

        background-color: transparent;
        border: none;
        box-shadow: none;

        font-size: 1.3rem;
        text-align: center;

        filter: drop-shadow(0 2px 4px var(--color-border-divider));
    }

    /*MODALS*/
    .modalWindow {
        width: 80%;
        padding: 1rem;
    }


}