#profileImage {
    width: 120px;
    height: 120px;
}

.card[data-type="profileOptionCard"] {
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 50px;
}

.card[data-type="profileOptionCard"] button:hover {
    transform: translateX(10%);
}